body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-image: url('/static/image/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

nav {
    background-color:brown;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
}

nav form {
    margin: 0;
}

.content {
    padding: 2em;
    text-align:left;

}

h1 {
    color: #333;
    text-align:left;

}

ul {
    
    list-style-type: none;
    padding: 0;
}
ul {
    
    list-style-type: none;
    padding: 0;
}

ul li {
    
    margin-bottom: 1em;
}

form {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.logo {
    width: 100px; 
    height: auto;
}
