

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Platform{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><img src="{% static 'recipes/logo.png' %}" alt="Logo" class="logo"></a></li>

        {% if user.is_authenticated %}
            <a href="{% url 'recipe_create'  %}">Add Recipe</a>
            {% csrf_token %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" style="background-color: #a33a38; color: white; border: none; padding: 10px 20px; font-size: 16px; cursor: pointer; " >Logout</button>
            </form>            
           
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        
        {% endif %}
        </ul>
        <ul>Recipe Platform</ul>
        <ul>
        <form action="{% url 'search' %}" method="get">
        <input type="text" name="q" placeholder="Search recipes...">
        <button type="submit">Search</button>
        </form>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
